body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

.header {
    background: #2874f0;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.categories span {
    margin: 10px;
    cursor: pointer;
}

.banner {
    padding: 30px;
    background: orange;
    text-align: center;
    font-size: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.product {
    background: white;
    padding: 10px;
}

button {
    background: #2874f0;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}